<!DOCTYPE html>
<html>
	<head>
		<title>ElasticSearch Repositories</title>
		<link href="styles/styles.css" rel="stylesheet" type="text/css">
	</head>

	<body ng-app="myApp">
		<div id="container" ng-controller="repositoryController">

			<div id="sidebar" class="menu_style">
				<div id="sidebar_content">
					<span class="sidebar_header menu_font_color">projetos</span>
					<nav id="repos">
						<ul>
							<li ng-repeat="repository in repositories">
								<a ng-click="loadRepositoryData(repository)" class="menu_font_color">{{ repository.name }}</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<div id="main">
				<div id="content" ng-if="!notLoaded">
					<div id="general_info">
						<span>stars {{stars}}</span>
						<span>forks {{forks}}</span>
						<span>contribs {{contribs}}</span>
					</div>

					<div id="commits">
						<ul>
							<li ng-repeat="detail in commits">
								<span class="commit_avatar"><img src="{{detail.author.avatar_url}}" width="30" height="30" /></span>
								<span class="commit_message"> {{detail.commit.message}} </span>
								<span class="commit_date"> {{detail.commit.author.date | date:'dd/MM/yyyy'}} </span>
								<span class="commit_author"> @{{detail.author.login}} </span>
							</li>
						</ul>

						<div class="load_button">
							<a ng-click="loadMoreCommits()" class="menu_font_color">Carregar mais</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<script src="scripts/libs/angular.js"></script>
		<script src="scripts/libs/angular-sanitize.js"></script>
		<script src="scripts/libs/angular-route.js"></script>

		<script src="scripts/app.js"></script>
		<script src="scripts/controllers/repository.js"></script>
		<script src="scripts/services/githubService.js"></script>
	</body>
</html>