#container {
	
}

#sidebar {
	background-color: #7D7DFF;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 60%;
}

#main {
	position: absolute; 
	left: 40%;
	top: 0;
	bottom: 0;
	right: 0;
}

#content {
	margin-left: 30px;
}

#sidebar .sidebar_header {
	letter-spacing: 0.3em;
	font-size: 28px;
}

#sidebar #repos li {
	color: #FFFFFF;
}

#sidebar_content {
	margin-top: 15px;
}
.menu_font_color {
	color: #FFFFFF;
	font-family: 'Segoe UI Light', Arial, Sans-Serif;
}

.menu_style {
	text-align: right;
	padding-right: 15px;
	line-height: 25px;
}

#general_info {
	margin-top: 15px;
	
}

#general_info span {
	margin-right: 65px;
	font-size: 20px;
	color: #C7C7C7;
}

.load_button {
	text-align: center;
	background-color: #C7C7C7;
	color: #FFFFFF;
	height: 19px;
	width: 345px;
	padding-top: 5px;
	font-size: 11px;
	margin-top: -10px;
	margin-left: -1px;
}

.load_button a {
	display: block;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

#commits li {
	border-style: solid;
	border-width: thin;
	border-color: #CCCCCC;
	margin-bottom: 5px;
	margin-left: -41px;
	width: 345px;
	height: 40px;
}

.commit_date {
	float: right;
	padding-right: 5px;
	padding-top: 5px;
	font-size: 10px;
	color: #9D9A9A;
}

.commit_message {
	float: left;
	padding-top: 5px;
	padding-left: 15px;
	font-size: 14px;
	color: #8B8989;
	font-weight: bold;
}

.commit_author {
	float: right;
	clear: both;
	font-size: 12px;
	color: #9D9A9A;
	padding-right: 230px;
	margin-top: -15px;
}

.commit_avatar {
	width: 30px;
	background-color: #C7C7C7;
	height: 30px;
	display: block;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}