#container {
	
}

#sidebar {
	background-color: #7D7DFF;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 60%;
}

#main {
	position: absolute; 
	left: 40%;
	top: 0;
	bottom: 0;
	right: 0;
}

#content {
	margin-left: 30px;
}

#sidebar .sidebar_header {
	letter-spacing: 0.3em;
	font-size: 28px;
}

#sidebar #repos li {
	color: #FFFFFF;
}

#sidebar_content {
	margin-top: 15px;
}
.menu_font_color {
	color: #FFFFFF;
	font-family: 'Segoe UI Light', Arial, Sans-Serif;
}

.menu_style {
	text-align: right;
	padding-right: 15px;
	line-height: 25px;
}

#general_info {
	margin-top: 15px;
	
}

#general_info span {
	margin-right: 65px;
	font-size: 20px;
	color: #C7C7C7;
}

.load_button {
	text-align: center;
	background-color: #C3C3C3;
	color: #FFFFFF;
	height: 19px;
	width: 45%;
	padding-top: 5px;
	font-size: 11px;
}

.load_button a {
	display: block;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}